# Logs
web-app/logs
web-app/*.log
web-app/npm-debug.log*
web-app/yarn-debug.log*
web-app/yarn-error.log*
web-app/pnpm-debug.log*
web-app/lerna-debug.log*

web-app/node_modules
web-app/.DS_Store
web-app/dist
web-app/dist-ssr
web-app/coverage
web-app/*.local

web-app//cypress/videos/
web-app//cypress/screenshots/

# Editor directories and files
web-app/.vscode/*
web-app/!.vscode/extensions.json
web-app/.idea
web-app/*.suo
web-app/*.ntvs*
web-app/*.njsproj
web-app/*.sln
web-app/*.sw?

api-js/logs
api-js/*.log
api-js/npm-debug.log*
api-js/yarn-debug.log*
api-js/yarn-error.log*
api-js/pnpm-debug.log*
api-js/lerna-debug.log*

api-js/node_modules
api-js/.DS_Store
api-js/dist
api-js/dist-ssr
api-js/coverage
api-js/*.local

api-js/.env